appdirs
certifi
chardet
construct
Django==2.1
django-ajax-selects
django-autocomplete-light
django-haystack
django-simple-autocomplete
future
idna
mysqlclient
packaging
pdfminer
pefile
pyparsing
python-ptrace
requests
six
urllib3
uWSGI
Whoosh
