{% extends "gtr_site/base.html" %}
{% include "gtr_site/nav_bar.html" %}
{% block title %}GTR{% endblock %}

{% block content %}
<h1>about us</h1>

<h2>about the team</h2>
<p>
The GTRP team came together under the guidance of Professor Barak Mendelsohn, who is an Assistant Professor of Political Science at Haverford College. A number of students made his vision a reality over several years of dedicated work. The current website is the latest evolution of the work begun by Nicholas Sher (‘10). The current team is made up by Jack Hasler('15) and Harry Levin ('14), and in addition to putting more statements in the database, they have added some new features to the site. These features include a new tagging system and an advanced search box to facilitate the searching process.
</p>

<h2>current students</h2>
<p>
Rachel Miller ('17)<br>
Jessica Blitz ('18)
</p>

<h2>past contributors</h2>
<p>
Jack Hasler ('15)<br>
Matthew Cebul ('13)<br>
Caroline Clowney ('14)<br>
Rupinder Garcha ('13)<br>
Katie Drooyan ('11)<br>
Hannah Jaenicke ('10)<br>
Rose Kautz ('10)<br>
Harry Levin ('14)<br>
Nick Lotito ('10)<br>
Ryan Rubio ('12)<br>
Nick Sher ('10)<br>
Rob Williams ('12)
</p>

<h2>about the website</h2>
<p>
The Global Terrorism Research Project was created using the open source Content Management System provided by Drupal. This was due to the superior combination of power and flexibility that Drupal offered when compared to other CMS systems, an advantage due to its use of modules to create different capabilities. Web hosting is handled by Haverford College’s Instructional &amp; Information Technology Services department, while the statements themselves are hosted on the Library's own D-Space instance. The actual work of creating content for and maintaining the website is almost entirely done by undergraduate students, with critical, ongoing support from the College Library’s staff as well as other groups within the administration.
</p>
{% endblock %}
