{% extends "gtr_site/base.html" %}
{% block title %}GTR{% endblock %}

{% load staticfiles %}

{% block content %}
<div class="row">
<div class= "col-md-5">
<h4>Search for statements <p><a href=" {% url 'gtr_site:search-help' %}">Search Help</a></p></h4>
{% if failed %}
       <span>Keyword in Context should be in the form "Keyword->Context"</span>
    {% endif %}
    <form id="searchers_form"  action="{% url 'gtr_site:search' %}" method="GET">
       <div class="form-group" id="searchers">
          <div id="searcher1"></div>
       </div>
	<input id="full_info" type="hidden" value='' name="full_info">
    </form>

    
    <span> Add a search term </span>
    <input type="hidden" id="searcher_counter" name="seacher_count" value="1">
    <button type="button" id="OR_search" class="btn btn-primary">OR</button>
    <button type="button" id="AND_search" class="btn btn-primary">AND</button>
    <button type="button" id="NOT_search" class="btn btn-primary">NOT</button>
    <script src="{% static 'gtr_site/jquery.js' %}"></script>
    <script src="{% static 'gtr_site/jquery-ui.js' %}"></script>
    <script src="{% static 'gtr_site/jQDateRangeSlider-min.js' %}"></script>
    <script>
      // reset counter to 1
      // might want to get rid of this if we load based on previous counter
      $(document).ready(function(){
	$("#searcher_counter").val("1");
	});

      // These long lines are just html we will be using and reusing
      var select_fields = "<select class='form-control field_option'> <option>Any field</option> <option>Title</option>  <option>Statement ID</option>  <option>Author</option>  <option>Organization</option> <option>Keyword</option>  <option>Context</option> <option>Keyword in Context</option></select>";
       var delete_button = "<button class='delete_searcher' type='button'><span class='glyphicon glyphicon-remove delete_searcher'></span><button>"; 
      
      function createLogicDropdown(operator) {
        if(operator=="AND") {
            return  "<select class='form-control logic_option'> <option value='OR'>OR</option> <option value='AND' selected='selected'>AND</option> <option value='NOT'>NOT</option></select>";
        }
	else if (operator=="OR") {
            return  "<select class='form-control logic_option'> <option selected='selected' value='OR'>OR</option> <option value='AND'>AND</option> <option value='NOT'>NOT</option></select>";
        }
	else {
            return  "<select class='form-control logic_option'> <option value='OR'>OR</option> <option value='AND'>AND</option> <option selected='selected' value='NOT'>NOT</option></select>";
        }
      }
      // make first search bar. This one can't be deleted
      $("#searcher1").append("<span><div class='input-group stylish-input-group'><input type='text' class='form-control search_text' name='search' placeholder='Search...'><span class='input-group-addon'><button type='submit'><span class='glyphicon glyphicon-search'></span></button></span></div> in " + select_fields + "</span>");
     // what happens when you click AND
      $("#AND_search").click(function(event) {
	if($("#searcher_counter").val() < 11) {
          // the plus              here tells javascript to do as number addition so 1+1 doesn't equal 11.
	  $("#searcher_counter").val(+$("#searcher_counter").val() + 1);
	  var id_num = $("#searcher_counter").val();
          $("#searchers").append("<div id='searcher"+ id_num +"' class='form-group'></div>");
	  $("#searcher" + id_num).append("<span>" + createLogicDropdown("AND") + "<br/><div class='input-group stylish-input-group'><input type='text' class='form-control search_text' name='AND_search' placeholder='Search...'><span class='input-group-addon'>" + delete_button + "</span></div> in " + select_fields + "</span>");
	}
      });

      // what happens when you click OR
      $("#OR_search").click(function(event) {
	if($("#searcher_counter").val() < 11) {
          // the plus              here tells javascript to do as number addition so 1+1 doesn't equal 11.
	  $("#searcher_counter").val(+$("#searcher_counter").val() + 1);
	  var id_num = $("#searcher_counter").val();
          $("#searchers").append("<div id='searcher"+ id_num +"'></div>");
	  $("#searcher" + id_num).append("<span>" + createLogicDropdown("OR") + "<br/><div class='input-group stylish-input-group'><input type='text' class='form-control search_text' name='OR_search' placeholder='Search...'><span class='input-group-addon'>" + delete_button + "</span></div> in " + select_fields + "</span>");
	}
      });

      // what happens when you click NOT
      $("#NOT_search").click(function(event) {
	if($("#searcher_counter").val() < 11) {
          // the plus              here tells javascript to do as number addition so 1+1 doesn't equal 11.
	  $("#searcher_counter").val(+$("#searcher_counter").val() + 1);
	  var id_num = $("#searcher_counter").val();
          $("#searchers").append("<div id='searcher"+ id_num +"'></div>");
	  $("#searcher" + id_num).append("<span>" + createLogicDropdown("NOT") + "<br/><div class='input-group stylish-input-group'><input type='text' class='form-control search_text' name='NOT_search' placeholder='Search...'><span class='input-group-addon'>" + delete_button + "</span></div> in " + select_fields + "</div>");
	}
      });

      // what happens when you click Delete
      // Need to use event delegation because these deletes don't 
      // exist on the initial page load
      $("#searchers").on("click", ".delete_searcher", function(event) {
          event.preventDefault();
          console.log("DELETE");
          $(event.target).parent().parent().parent().parent().remove();
	  $("#searcher_counter").val(+$("#searcher_counter").val() - 1);
       });

      // on submit we generate full_info
      $("#searchers_form").submit(function(event) {
	// uncomment to prevent page submit
        // event.preventDefault();
        var the_request = "";
        $("#searchers").children().each(function() {
          // THIS IS A BAD WAY OF DOING IT THAT DEPENDS ON THE STRUCTURE OF THE PAGE
	  console.log($(this).children().children().children(".search_text").val());
          console.log($(this).children().children(".logic_option").val());
          console.log($(this).children().children(".field_option").val());
          console.log($(this).children());

          var text  = $(this).children().children().children(".search_text").val();
          var logic = $(this).children().children(".logic_option").val();
          var field = $(this).children().children(".field_option").val();
	  the_request += text + "^" + logic + "^" + field+"^";

        });        
        $("#full_info").val(the_request);
      });
    </script>


</div>
<div class= "col-md-7">
{% if flatpage %}
{{ flatpage.content }}
{% endif %}

</div>
</div>
{% endblock  %}

