<!-- The resources search bar page -->
{% extends "gtr_site/base.html" %}

{% load static %}

{% include "gtr_site/nav_bar.html" %}
{% block title %}GTR{% endblock %}

{% block extra_static %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="{% static 'gtr_site/js/resources.js' %}"></script>
{% endblock %}

{% block content %}
<!---Resources-->    
<body>
  <h1 style="text-align: center;">Resources</h1>
  <section id="search" class="content-section text-center"  class="pre-scrollable">
    <div class="search-section">
      <div class="container">
        <div class="col-xs-12">
          
          <!-- To be deleted unless the DataTables search bar proves insufficient for some reason
          <form action="{% url 'gtr_site:resource-results' %}" method="GET">
            {% csrf_token %}
            <input type="text" name="search" placeholder="Search..." required>
            <input type="submit" value="Search">
          </form>
          -->
          
          <form class="form-inline">
          <div class="checkbox">
            <label>
              <input type="checkbox" id="book" value="book">
                Books/Primary Sources
              </input>
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="data-source" value="data-source">
                Data Sources
              </input>
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="jihadi-magazines" value="jihadi-magazines">
                Jihadi Magazines
              </input>
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="journal-indexes" value="journal-indexes">
                Journal Indexes
              </input>
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="news" value="news">
                News/Commentary
              </input>
            </label>
          </div> 
          </form>
          <form class="form-inline">      
          <div class="checkbox">
            <label>
              <input type="checkbox" id="research" value="research">
                Research Portals
              </input>
            </label>
          </div>       
          <div class="checkbox">
            <label>
              <input type="checkbox" id="sites" value="sites">
                Research Sites
              </input>
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="student-resources" value="student-resources">
                Student Resources
              </input>
            </label>
          </div>         
          <div class="checkbox">
            <label>
              <input type="checkbox" id="by-country" value="by-country">
                Resources By Country
              </input>
            </label>
          </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <div class="col-lg-10 col-lg-offset-1">
  <table id="resourceTable" class="display" cellspacing="0" width="100%">
	  <thead><tr>
   	  <th>Title</th>
		  <th>Author</th>
		  <th>Country</th>
		  <th>Type</th>
		  <th class="wide">Desciption</th>
	  </tr></thead>
	  <tbody>
	  {% for doc in object_list %}
	  <tr>
      {% if doc.link %}
        <td><a href="{{ doc.link }}">{{ doc.title }}</a></td>
      {% else %}
        <td>{{ doc.title }}</td>
      {% endif %}
      <td>{{ doc.author }}</td>
      <td>{{ doc.country }}</td>
      <td>{{ doc.resource_type }}</td>
      <td class="wide">
      {{ doc.description }}
      </td>
    </tr>
	  {% endfor %}
	  </tbody>
	</table>
  </div>  

</body>
{% endblock %}
