{% extends "gtr_site/base.html" %}
{% block title %}GTR{% endblock %}

{% block content %}
{% if state %}
    {% for name, value in state.show  %}
       <ul>
       {% if value %}
         {% if name == "full_text" %}
           <li>{{ name }}:<a href="{{ value }}"> {{ value }} </a></li>
         {% else %}
           <li>{{ name }}: {{ value }}</li>
         {% endif %}
       {% endif %}
       </ul>
    {% endfor %}
    {% for keys, contexts in state.get_keywords_contexts.items %}
       <ul>
         <li><p style="font-size: 18px">Keyword: {{ keys }}</p></li>
         <ul><p style="font-size: 18px">Contexts: </p>
           {% for context in contexts %}
            <li> {{ context }} </li>
           {% endfor %}
         </ul>
       </ul>
      {% empty %}
        <h3>Error in retrieving keywords and contexts</h3>
    {% endfor %}
{% else %}
    <p>No statement with that id</p>
{% endif %}
{% endblock %}
