{% if state %}
    {% for name, value in state.show  %}
       <ul>
       {% if value %}
         <li>{{ name }}: {{ value }}</li>
       {% endif %}
       </ul>
    {% endfor %}
    {% for keyword, contexts in state.get_keywords_contexts.items %}
       <ul>
         <li>{{keyword}}</li>
	 <ul>
           {% for context in contexts %}
             <li>{{context}}</li>
           {% endfor %}
         </ul>
       </ul>
    {% endfor %}
{% else %}
    <p>No statement with that id</p>
{% endif %}
