{% extends "gtr_site/base.html" %}
{% block title %}GTR{% endblock %}

{% block content %}
<!--div class="row resource_info_header"></div>
   <div class="col-md-8">
	<div class="row" id=" resource_title"></div>
	<div class="row" id=" resource_tar"></div>
   </div>
   <div class="col-md-4 resource_meta_data">
   </div>
<div class= "row keywords_section"></div-->
<div class="row" style="margin-bottom:50px;">
   <div class="col-md-1"></div>
   <div class="col-md-10">
   <div class="col-md-6">
    <table  id="meta_state" width="100%" class="table table-striped table-bordered display" style="border-collapse:collapse">
     {% if state %}
	<tr>
    	  <td> <h3>{{state.title}}</h3></td>
	</tr>
	<tr>
	  <td>Media type: {{ state.get_media_type_display }} </td>
	</tr>
  	<tr>
      	  <td>AQSI Identifier: {{ state.statement_id }} </td>
	</tr>
	<tr>
	  <td><a href="{{state.full_text}}">Full text</a></td>
	</tr>
	<tr>
	  <td>Issue Date: {{ state.issue_date }} </td>
	</tr>
	<tr>
	  <td><a href="/author/{{ state.author }}">Author: {{ state.author }}</a></td>
	</tr>
	<tr>
	  <td> Released by: {{ state.released_by }}</td>
	</tr>
	<tr>
	  <td>Access: {{ state.get_access_display }}</td>
	</tr> 
 	<tr>
	 <form action="" method="post">
        {% csrf_token %}
{% for value in clipboard %}
<td><p>Add to list:</p>{{ value }}
{% endfor %}
        <input type="submit" value="Save" />  
                <input type="hidden" value="clipboard" name="input" />
                <input type="hidden" value="{{ user }}" name="user" />
                <input type="hidden" value="{{ state.nombre_del_archivo }}" name="filename" />

  </form></td></tr>
   </table>
  </div>
  </div>
  <div class= "col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
   <table class="table table-striped table-bordered display" id="kw_state" cellspacing="0" width="100%">
  	<thead><tr>
	  <th>Keyword</th>
	  <th>Contexts</th>
	</tr></thead>
	<tbody>
	 {% for keys, contexts in state.get_keywords_contexts.items %}
	    <tr>
		<td><a href="/keyword/{{ keys }}">{{ keys }}</a></td>
		<td>
		   {% for context in contexts %}
			{% ifequal context contexts|last %}
			  <a href="/keywordcontext/{{ keys }}/{{context}}">{{ context }}</a>
			{% else %}
			  <a href="/keywordcontext/{{ keys }}/{{context}}">{{ context }}</a>,
			{% endifequal %}
			
                   {% endfor %}</td>
	    </tr>
	{% empty %}
	<h3>Error in retrieving keywords and contexts</h3>	
	 {% endfor %}
{% else %}
    <p>No statement with that id</p>
{% endif %}
	</tbody>
     </table>

  </div>
  <div class="col-md-1"></div>
</div>

{% comment %}
{% if state %}
  <p> {{state.get_access_display}} </p>
    {% for name, value in state.show  %}
       <ul>
       {% if value %}
         {% if name == "full_text" %}
           <li>{{ name }}:<a href="{{ value }}"> {{ value }} </a></li>
         {% else %}
           <li>{{ name }}: {{ value }}</li>
         {% endif %}
       {% endif %}
       </ul>
    {% endfor %}
    {% for keys, contexts in state.get_keywords_contexts.items %}
       <ul>
         <li><p style="font-size: 18px">Keyword: {{ keys }}</p></li>
         <ul><p style="font-size: 18px">Contexts: </p>
           {% for context in contexts %}
            <li> {{ context }} </li>
           {% endfor %}
         </ul>
       </ul>
      {% empty %}
        <h3>Error in retrieving keywords and contexts</h3>
    {% endfor %}
{% else %}
    <p>No statement with that id</p>
{% endif %} {% endcomment %}

{% endblock %}
