{% extends "gtr_site/base.html" %}
{% block title %}GTR{% endblock %}
{% load staticfiles %}
{% block extra_static %}
<head>
   <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"/>
</head>
<script src="https://code.jquery.com/jquery-3.2.1.js"
	integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
	crossorigin="anonymous">
</script>

<script src="https://code.jquery.com/jquery-3.2.1.js"
	integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
	crossorigin="anonymous">
</script>
<link rel="stylesheet" href="{% static 'gtr_site/css/iThing.css' %}" type="text/css" />
{% endblock %}
{% block content %}
<div class="center" style="width: 100%; margin: 0 auto;">
    <h3>Advanced Search</h3>
    <form id="searchers_form"  action="{% url 'search' %}" method="GET">
       {% csrf_token %}
       <div id="searchers">
          <div id="searcher1"></div>
       </div>
       <input type="submit" value="Search">
    </form>


    
    <span> Add a seacher </span>
    <input type="hidden" id="searcher_counter" name="seacher_count" value="1">
    <input id="OR_search" type='button' value='OR'/>
    <input id="AND_search" type='button' value='AND'/>
    <input id="NOT_search" type='button' value='NOT'/>
    <script src="{% static 'gtr_site/jquery.js' %}"></script>
    <script src="{% static 'gtr_site/jquery-ui.js' %}"></script>
    <script src="{% static 'gtr_site/jQDateRangeSlider-min.js' %}"></script>
    <script>
      // reset counter to 1
      // might want to get rid of this if we load based on previous slider counter
      $(document).ready(function(){
	$("#searcher_counter").val("1");
	});
      // make first slider
      var select_fields = "<select> <option>Any field</option> <option>Keyword</option> <option>Keyword in Context</option></select>";
      var delete_button = "<a href='#' class='delete_searcher'>  Delete</a>"; 
      $("#searcher1").append("<span><input type='text' name='search' placeholder='Search...'> in " + select_fields + "</span");
       	// only submits the first slider as of right now
	$("#filter_form").submit(function( event) {
	  for(i=1; i <= $("#searcher_counter").val(); i++) {
	    var dateValues = $("#searcher"+i).dateRangeSlider("values");
	    //$("#dateLow"+i).val(dateValues.min.toString());
            //$("#dateHigh"+i).val(dateValues.max.toString());
 	  }	
        });
      // what happens when you click AND
      $("#AND_search").click(function(event) {
	if($("#searcher_counter").val() < 11) {
          // the plus              here tells javascript to do as number addition so 1+1 doesn't equal 11.
	  $("#searcher_counter").val(+$("#searcher_counter").val() + 1);
	  var id_num = $("#searcher_counter").val();
          $("#searchers").append("<div id='searcher"+ id_num +"'><div>");
	  //$("#date_ranges").append("<input type='hidden' id='dateLow"+id_num+"'name='date_low"+id_num+"'>");
	  //$("#date_ranges").append("<input type='hidden' id='dateHigh"+id_num+"'name='date_high"+id_num+"'>");
	  $("#searcher" + id_num).append("<p>AND</p><span><input type='text' name='AND_"+ id_num + "search' placeholder='Search...'> in " + select_fields + delete_button + "</span>");
	}
      });

      // what happens when you click OR
      $("#OR_search").click(function(event) {
	if($("#searcher_counter").val() < 11) {
          // the plus              here tells javascript to do as number addition so 1+1 doesn't equal 11.
	  $("#searcher_counter").val(+$("#searcher_counter").val() + 1);
	  var id_num = $("#searcher_counter").val();
          $("#searchers").append("<div id='searcher"+ id_num +"'><div>");
	  $("#searcher" + id_num).append("<p>OR</p><span><input type='text' name='OR_"+ id_num + "_search' placeholder='Search...'> in "+ select_fields + "</span>");
	}
      });

      // what happens when you click NOT
      $("#NOT_search").click(function(event) {
	if($("#searcher_counter").val() < 11) {
          // the plus              here tells javascript to do as number addition so 1+1 doesn't equal 11.
	  $("#searcher_counter").val(+$("#searcher_counter").val() + 1);
	  var id_num = $("#searcher_counter").val();
          $("#searchers").append("<div id='searcher"+ id_num +"'><div>");
	  $("#searcher" + id_num).append("<p>NOT</p><span><input type='text' name='NOT_"+ id_num + "_search' placeholder='Search...'> in "+ select_fields + "</span>");
	}
      });


	// on - click
      $(".delete_seacher").click(function(event) {
	if($("#seacher_counter").val() != 1) {
	  $("#seacher"+ $("#seacher_counter").val()).remove();
	  $("#seacher_counter").val(+$("#slider_counter").val() - 1);
	}
      });

    </script>


</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="{% static 'gtr_site/js/autocomplete-multiselect.js'%}"></script>
{% endblock %}
