{% extends "gtr_site/base.html" %}
{% block title %}GTR{% endblock %}
{% load staticfiles %}
{% block extra_static %}
<head>
   <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"/>
</head>
<script src="https://code.jquery.com/jquery-3.2.1.js"
	integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
	crossorigin="anonymous">
</script>

<script src="https://code.jquery.com/jquery-3.2.1.js"
	integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
	crossorigin="anonymous">
</script>
<link rel="stylesheet" href="{% static 'gtr_site/css/iThing.css' %}" type="text/css" />
{% endblock %}
{% block content %}
<div class="row">

<div class="col-md-3 top-buffer" id="search_filter" >	
<h3>Your query returned {{ num_results }} results</h3>
<form id="filter_form"  action="{% url 'gtr_site:search' %}" method="get">
<button type="button submit" class="btn btn-primary" name="Filter" id="filter_submit">Update Results</button>
<!-- <input type="submit" name="Filter" value="filter" id="filter_submit"> -->
<input type="hidden" value="{{ full_info }}" name="full_info" >
<h3>Keywords</h3>

<h4>Include</h4>
<ul class="list-group">
{% for keyword_count in keywords_and_counts %}
    <li class="list-group-item justify-content-between"><input type="checkbox" name="{{ keyword_count.0 }}" value="key_ON" class="filter_check form-check-input">  {{ keyword_count.0 }} <span class="badge badge-default badge-pill">{{keyword_count.1}}</span></li>
{% endfor %}
</ul>

<h4>Exclude</h4>
<ul class="list-group">
{% for keyword_count in keywords_and_counts %}
    <li class="list-group-item justify-content-between"><input type="checkbox" name="{{ keyword_count.0 }}" value="key_OFF" class="filter_check form-check-input">  {{ keyword_count.0 }} <span class="badge badge-default badge-pill">{{keyword_count.1}}</span></li>
{% endfor %}
</ul>


<div id="date_ranges">
  <input type="hidden" id="dateLow1" name="date_low1" >
  <input type="hidden" id="dateHigh1" name="date_high1" >
</div>
    <h4>Date Range</h4>
    <input type="checkbox" name="filter_by_date" value="date_ON"><label>Filter by date</label></input>
    <div id="sliders">
    <div id="slider1"></div>
    </div>
    <span> Add a slider </span>
    <input type="hidden" id="slider_counter" name="slider_count" value="1">
    <input id="less_slider" type='button' value='-'/>
    <input id="more_slider" type='button' value='+'/>
    <script src="{% static 'gtr_site/jquery.js' %}"></script>
    <script src="{% static 'gtr_site/jquery-ui.js' %}"></script>
    <script src="{% static 'gtr_site/jQDateRangeSlider-min.js' %}"></script>
    <script>
      // reset counter to 1
      // might want to get rid of this if we load based on previous slider counter
      $(document).ready(function(){
	$("#slider_counter").val("1");
	});
      // make first slider
      $("#slider1").dateRangeSlider({
	bounds: {min: new Date(1990, 0, 1), max: new Date(2017, 11, 31)}
      });
	// only submits the first slider as of right now
	$("#filter_form").submit(function( event) {
	  for(i=1; i <= $("#slider_counter").val(); i++) {
	    var dateValues = $("#slider"+i).dateRangeSlider("values");
	    $("#dateLow"+i).val(dateValues.min.toString());
            $("#dateHigh"+i).val(dateValues.max.toString());
 	  }	
        });
	// what happens when you click +
      $("#more_slider").click(function(event) {
	if($("#slider_counter").val() < 11) {
	  $("#slider_counter").val(+$("#slider_counter").val() + 1);
	  var id_num = $("#slider_counter").val();
          $("#sliders").append("<div id='slider"+ id_num +"'><div>");
	  $("#date_ranges").append("<input type='hidden' id='dateLow"+id_num+"'name='date_low"+id_num+"'>");
	  $("#date_ranges").append("<input type='hidden' id='dateHigh"+id_num+"'name='date_high"+id_num+"'>");
	  $("#slider" + id_num).dateRangeSlider({
	bounds: {min: new Date(1990, 0, 1), max: new Date(2017, 11, 31)}
      	  });
	}
      });
	// on - click
      $("#less_slider").click(function(event) {
	if($("#slider_counter").val() != 1) {
	  $("#slider"+ $("#slider_counter").val()).remove();
	  $("#dateLow"+$("#slider_counter").val()).remove();
	  $("#dateHigh"+$("#slider_counter").val()).remove();
	  $("#slider_counter").val(+$("#slider_counter").val() - 1);
	}
      });

    </script>

</form>
</div>
<!--div class= "col-md-1 top-buffer" id="separator"></div--!>
<div class= "col-md-9 top-buffer" id="search_table">
<table class="table table-bordered">
    <thead>
        <tr>
         <th>Title</th>
         <th>Author</th>
	</tr>
    </thead>
    <tbody>
	{% for result in results %}
	<tr>
	 <td><a href="{{ result.get_absolute_url }}">{{ result.title }}</a></td>
	 <td><a href="author/{{result.author}}">{{result.author}}</a></td>
	</tr>
	{% endfor %}
    </tbody>
</table>
</div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="{% static 'gtr_site/js/autocomplete-multiselect.js'%}"></script>
{% endblock %}
